<!-- Define the custom partial template with two parameters -->
{{/* {{- $title := .title -}}
{{- $subtitle := .subtitle -}}
{{- $key := .key -}}

<h2>{{ $title }}</h2>
{{ if $subtitle }}<h3>{{ $subtitle }}</h3>{{ end }}
<ul
    class="books-list list-unstyled row row-cols-2 no-gutters row-cols-md-3 row-cols-lg-5 row-cols-wd-6 border-top border-left my-0">
    {{ range where .Site.RegularPages "Section" "{{ $key }}" }}
    <li class="book-item">
        <div class="book-box overflow-hidden bg-white p-3 h-100">
            <div class="book-box wrapper d-block position-relative h-100">
                <div class="book-thumb">
                    <a class="d-block" href="#">
                        <img alt="Cover of the book {{ .Title }} written by {{ .Params.author }}"
                            class="ml-auto mx-auto d-block" src="{{ .Params.thumb }}"
                            style="width: 150px; height: 210px;">
                    </a>
                </div>
                <div class="books-desc pt-3 text-center">
                    <h4 class="book-name">{{ .Title }}</h4>
                    <h4 class="book-name">{{ .Params.author }}</h4>
                </div>
                <a class="see-det" href="{{ .Permalink }}">
                    <button class="btn see-det-btn btn-warning" type="button">Download Now!</button>
                </a>
            </div>
        </div>
    </li>
    {{ end }}
</ul>
*/}}

{{/*  
<h2>{{ .Scratch.Get "title" }}</h2>
<h3>{{ .Scratch.Get "subtitle" }}</h3>
<ul
    class="books-list list-unstyled row row-cols-2 no-gutters row-cols-md-3 row-cols-lg-5 row-cols-wd-6 border-top border-left my-0">
    {{ range where .Site.RegularPages "Section" "{{ .Scratch.Get "key" }}" }}
    <li class="book-item">
        <div class="book-box overflow-hidden bg-white p-3 h-100">
            <div class="book-box wrapper d-block position-relative h-100">
                <div class="book-thumb">
                    <a class="d-block" href="#">
                        <img alt="Cover of the book {{ .Title }} written by {{ .Params.author }}"
                            class="ml-auto mx-auto d-block" src="{{ .Params.thumb }}"
                            style="width: 150px; height: 210px;">
                    </a>
                </div>
                <div class="books-desc pt-3 text-center">
                    <h4 class="book-name">{{ .Title }}</h4>
                    <h4 class="book-name">{{ .Params.author }}</h4>
                </div>
                <a class="see-det" href="{{ .Permalink }}">
                    <button class="btn see-det-btn btn-warning" type="button">Download Now!</button>
                </a>
            </div>
        </div>
    </li>
    {{ end }}
</ul>


  */}}







{{/* <ul
    class="books-list list-unstyled row row-cols-2 no-gutters row-cols-md-3 row-cols-lg-5 row-cols-wd-6 border-top border-left my-0">
    {{ range where .Site.RegularPages "Section" "books" }}
    <li class="book-item">
        <div class="book-box overflow-hidden bg-white p-3 h-100">
            <div class="book-box wrapper d-block position-relative h-100">
                <div class="book-thumb">
                    <a class="d-block" href="#">
                        <img alt="Cover of the book {{ .Title }} written by {{ .Params.author }}"
                            class="ml-auto mx-auto d-block" src="{{ .Params.thumb }}"
                            style="width: 150px; height: 210px;">
                    </a>
                </div>
                <div class="books-desc pt-3 text-center">
                    <h4 class="book-name">{{ .Title }}</h4>
                    <h4 class="book-name">{{ .Params.author }}</h4>
                </div>
                <a class="see-det" href="{{ .Permalink }}">
                    <button class="btn see-det-btn btn-warning" type="button">Download Now!</button>
                </a>
            </div>
        </div>
    </li>
    {{ end }}
</ul> */}}