{{ define "main" }}
<div class="container">
    <div class="row my-3">
        {{ if gt (len .Sections) 0 }}
        <div class="row pb-4">
            <div class="col-12">
                <div class="d-sm-flex justify-content-sm-between align-items-center border-bottom pb-3">
                    <h1 class="mb-2 mb-sm-0 h2">নির্বাচিত শ্রেণিসমূহ</h1>
                    <a class="btn btn-sm btn-primary mb-sm-3" href="/categories.html">
                        <i class="fas fa-plus me-2"></i>সমস্ত শ্রেণির তালিকা দেখুন
                    </a>
                </div>
            </div>
        </div>
        {{ end }}
        {{ partial "section.html"}}
    </div>

    {{ if gt (len .RegularPages) 0 }} <h2></h2>{{ end }}
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 gy-sm-4 gy-3 pt-sm-3">
        {{ range .Paginator.Pages }}
        {{ partial "single.html" . }}
        {{ end }}
    </div>
    <div class="d-flex aligns-items-center justify-content-center mt-5">{{ template "_internal/pagination.html" . }}</div>
</div>
{{ end }}