<li class="book-item">
    <div class="overflow-hidden bg-white p-3 h-100">
        <div class="wrapper d-block position-relative h-100">
            <div class="book-thumb">
                <a class="d-block" href="{{ .Permalink }}">
                    <img alt="Cover of the book {{ .Title }}" class="ml-auto mx-auto d-block" 
                    src='{{if isset .Params "thumb"}} {{ .Site.Params.siteURL }}/assets/img/books/{{ .Params.thumb }} {{else if isset .Params "img"}}  {{ .Params.img }} {{ else }}https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnSJ4EHEjSc0tnEn6ZFtNomhsEy-ORV79y7Gu3Yob9rQ&s{{end}}' style="width: 150px; height: 210px;">
                </a>
            </div>
            <div class="books-desc pt-3 text-center">
                <h4 class="book-name">{{ .Title }}{{ if isset .Params "class" }} -- {{ .Params.class }}{{end}}</h4>
                {{ if isset .Params "author" }}
                <h5>{{ .Params.author }}</h5>
                {{ else if isset .Params "publisher"}}
                <h5>{{ .Params.publisher }}</h5>
                {{end}}
                {{ if isset .Params "translator"}}
                {{ .Params.translator }}
                {{ end }}
                {{ if isset .Params "ayear" }}<h6>{{ .Params.ayear }} শিক্ষাবর্ষ</h6> {{end}}
            </div>
            <a class="see-det" href="{{ .Permalink }}">
                <button class="btn see-det-btn btn-warning" type="button">দেখুন!</button>
            </a>
        </div>
    </div>
</li>