<header class="bg-light shadow-sm navbar-sticky">
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand me-4 order-lg-1" href="{{ .Site.BaseURL | relLangURL }}">
                {{ with .Site.Params.site_logo }}
                <img class="d-md-none" width="30" src="{{ . }}" alt="Zerodemy Books Logo"/>
                {{ end }}
                <div class="navbar-tool-text ms-n3 d-none d-md-block">
                    <span class="fw-bold">{{ .Site.Params.title_bn }}</span><br>
                    <span>{{ .Site.Params.subtitle_bn }}</span>
                </div>
            </a>
            <div class="navbar-toolbar d-flex align-items-center order-lg-3">
                <a class="btn btn-sm btn-accent" href="{{ .Site.BaseURL }}search/"><i class="bi bi-search"></i></a>
                <a class="btn btn-sm btn-accent ms-2" href="{{ .Site.BaseURL }}contact">যোগাযোগ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
                <hr class="my-3">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown"><a class="nav-link" href="#">গীতিকার</a></li>
                    <li class="nav-item dropdown"><a class="nav-link" href="#">সুরকার</a></li>
                    <li class="nav-item dropdown"><a class="nav-link" href="#">শিরোনাম</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>