{{ define "main" }}
{{if .Site.Home.Content }}
<div class="container">
	{{ partial "hero.html" . }}
	{{/* */}}
	<section>
		<h2>All Books</h2>
		<ul
			class="books-list list-unstyled row row-cols-2 no-gutters row-cols-md-3 row-cols-lg-5 row-cols-wd-6 border-top border-left my-0">
			{{ range .Paginator.Pages }}
			<li class="book-item">
				<div class="overflow-hidden bg-white p-3 h-100">
					<div class="wrapper d-block position-relative h-100">
						<div class="book-thumb">
							<a class="d-block" href="{{ .Permalink }}">
								<img alt="Cover of the book {{ .Title }} written by {{ .Params.author }}"
									class="ml-auto mx-auto d-block"
									src="{{ .Site.Params.siteURL }}/assets/img/books/{{ .Params.thumb }}"
									style="width: 150px; height: 210px;">
							</a>
						</div>
						<div class="books-desc pt-3 text-center">
							<h4 class="book-name">{{ .Title }} -- {{ .Params.class }} </h4>
							<h5>{{ .Params.author }}</h5>
							<h6>{{ .Params.ayear }} শিক্ষাবর্ষ</h6>
						</div>
						<a class="see-det" href="{{ .Permalink }}">
							<button class="btn see-det-btn btn-warning" type="button">Download Now!</button>
						</a>
					</div>
				</div>
			</li>
			{{ end }}
		</ul>
		{{ template "_internal/pagination.html" . }}
	</section>
	{{/* */}}
	<section>
		<h2>Books</h2>
		<ul
			class="books-list list-unstyled row row-cols-2 no-gutters row-cols-md-3 row-cols-lg-5 row-cols-wd-6 border-top border-left my-0">
			{{ range where .Site.RegularPages "Section" "books" }}
			<li class="book-item">
				<div class="book-box overflow-hidden bg-white p-3 h-100">
					<div class="book-box wrapper d-block position-relative h-100">
						<div class="book-thumb">
							<a class="d-block" href="#">
								<img alt="Cover of the book {{ .Title }} written by {{ .Params.author }}"
									class="ml-auto mx-auto d-block" src="{{ .Params.thumb }}"
									style="width: 150px; height: 210px;">
							</a>
						</div>
						<div class="books-desc pt-3 text-center">
							<h4 class="book-name">{{ .Title }}</h4>
							<h4 class="book-name">{{ .Params.author }}</h4>
						</div>
						<a class="see-det" href="{{ .Permalink }}">
							<button class="btn see-det-btn btn-warning" type="button">Download Now!</button>
						</a>
					</div>
				</div>
			</li>
			{{ end }}
		</ul>
	</section>

	<section>
		<h2>Test</h2>
		<ul class="books-list list-unstyled row row-cols-2 no-gutters row-cols-md-3 row-cols-lg-5 row-cols-wd-6 border-top border-left my-0">
			{{ range where .Site.RegularPages "Section" "books" | first 5 }}
		<li class="book-item">
			<div class="book-box overflow-hidden bg-white p-3 h-100">
				<div class="book-box wrapper d-block position-relative h-100">
					<div class="book-thumb">
						<a class="d-block" href="#">
							<img alt="Cover of the book {{ .Title }} written by {{ .Params.author }}"
								class="ml-auto mx-auto d-block" src="{{ .Params.thumb }}"
								style="width: 150px; height: 210px;">
						</a>
					</div>
					<div class="books-desc pt-3 text-center">
						<h4 class="book-name">{{ .Title }}</h4>
						<h4 class="book-name">{{ .Params.author }}</h4>
					</div>
					<a class="see-det" href="{{ .Permalink }}">
						<button class="btn see-det-btn btn-warning" type="button">Download Now!</button>
					</a>
				</div>
			</div>
		</li>
		{{ end }}
		</ul>
	</section>
	<section>
		<h2>Class One Books</h2>
		<ul class="books-list list-unstyled row row-cols-2 no-gutters row-cols-md-3 row-cols-lg-5 row-cols-wd-6 border-top border-left my-0">
			{{ range (site.GetPage "books/textbooks/c1").RegularPages | first 5}}
		<li class="book-item">
			<div class="book-box overflow-hidden bg-white p-3 h-100">
				<div class="book-box wrapper d-block position-relative h-100">
					<div class="book-thumb">
						<a class="d-block" href="#">
							<img alt="Cover of the book {{ .Title }} written by {{ .Params.author }}"
								class="ml-auto mx-auto d-block" src="{{ .Params.thumb }}"
								style="width: 150px; height: 210px;">
						</a>
					</div>
					<div class="books-desc pt-3 text-center">
						<h4 class="book-name">{{ .Title }}</h4>
						<h4 class="book-name">{{ .Params.author }}</h4>
					</div>
					<a class="see-det" href="{{ .Permalink }}">
						<button class="btn see-det-btn btn-warning" type="button">Download Now!</button>
					</a>
				</div>
			</div>
		</li>
		{{ end }}
		</ul>
	</section>

	{{else}}
	No HomePage
</div>
{{ end }}
{{ end }}